# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [3]:
# for keyword, variable iterator/counter, in heyword, object(iterable)

dog = "Shadow"

for letter in dog:
    print(letter)
    
names = ['ryan', 'alex', 'chuck', 'salim', 'patick', 'ethan']

for name in names:
    print(name)

S
h
a
d
o
w
ryan
alex
chuck
salim
patick
ethan

In [7]:
numbers = range(10)
for num in numbers:
    print(num)
    
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [8]:
name = "Ryan Rhoades"

length = len(name)
print(length)

#takes the length of an object/iterable and grabs the number of character of the length
# then we loop through the ragne of that length len(name) = 12, loop through range(12)
#for i in range(12)
for i in range(len(name)):
    print(i)

12
0
1
2
3
4
5
6
7
8
9
10
11

##### Using 'in' keyword

In [12]:
#with conditionals in checks for membership
#if 'p' in word:
#   print(it's here)

for i in range(15):
    print(i**2)

name = "Barney "

name2 = "Baby Bop"

for letter in name:
    if letter in name2:
        print("oh neat, same latter")
    else:
        print('not the same letter')

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
oh neat, same latter
oh neat, same latter
not the same letter
not the same letter
not the same letter
oh neat, same latter
oh neat, same latter

##### Continue Statement

In [ ]:
#continue will move on to the next iteration if a conditino is met
#for i in range(20):
#   print(i)

for i in range(20):
    if i== 5 or i ==6:
        continue
    print(i)

##### Break Statement

In [ ]:
# stops the loop from iterating if a certain condition is met

for i in range(20):
    if i ==6:
        break
    print(i)

##### Pass Statement

In [14]:
#mostly used a placeholder

for i in range(20):
    pass

word = "midi keyboard"

for letter in word:
    print(letter)
    
def get_total():
    pass

m
i
d
i

k
e
y
b
o
a
r
d

##### Double For Loops

In [16]:
for i in range(1,6):
    for j in range(1,6):
        print("i = ", i, "j = ", j)

i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  1 j =  5
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  2 j =  5
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  3 j =  5
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4
i =  4 j =  5
i =  5 j =  1
i =  5 j =  2
i =  5 j =  3
i =  5 j =  4
i =  5 j =  5

### While Loops

In [19]:
# while keyword, condition 
# while loop will run based on the condition statement 

counter = 0

while counter < 11:
    counter += 1
    print(counter)
    
print("\n")

num= 0
while num <15:
    print(num**2)
    num += 1

1
2
3
4
5
6
7
8
9
10
11


0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

In [20]:
# breaks with while loop
num = 0
while num < 15:
    num += 1
    if num == 7:
        break
    print(num)
    
names =['a','b', 'c', 'd']

1
2
3
4
5
6

##### looping 'While True'

In [21]:
# true as a condition for a while loop to run

game_over = False
while True:
    print("Infinte Loop")
    if game_over == False:
        break

Infinte Loop

In [24]:
game_running = True
num = 7
while game_running:
    print("checkng num")
    if num == 7:
        game_running = False

checkng num

In [26]:
while True:
    name = input("What's is your name?")
    if name == "":
        print('thats empty please enter a name')
    else:
        print(name)
        break

What's is your name?
thats empty please enter a name
What's is your name?
thats empty please enter a name
What's is your name?jane
jane

##### While & For Loops Used Together

In [27]:
j = 0

while j < 10:
    print("\nWhile Loop Iteration: " + str(j))
    
    for i in range(4):
        print("For loop iteration: " + str(i))
        
    j += 1

While Loop Iteration: 0
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

While Loop Iteration: 1
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

While Loop Iteration: 2
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

While Loop Iteration: 3
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

While Loop Iteration: 4
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

While Loop Iteration: 5
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

While Loop Iteration: 6
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

While Loop Iteration: 7
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

While Loop Iteration: 8
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

While Loop Iteration: 9
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

##### The Range Function

In [29]:
#range(start, stop, step) stop is only required parameter and is not inclusive
#start will default to 0 if not provided
#step will default to 1 if not provided

#stop
for i in range(5):
    print(i)
print("\n")
#start, stop
for i in range(1,10):
    print(i)
print("\n")

#start, stop, step
for i in range (1,10,3):
    print(i)

0
1
2
3
4


1
2
3
4
5
6
7
8
9


1
4
7

### String Manipulation Exercise

In [34]:
# Loop through the list below an strip all white space and title case each string
#print each corrected name
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

for name in names:
    name = name.title().strip()
    print(name)

Connor
Max
Evan
Jordan

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']
Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

Connor Max Evan Jordan None

## Lists

##### Declaring Lists

In [37]:
#declaring an empty list
our_list = [] #<-- empty list

names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree",]

numbers = [1,2,3,4,5,6,7]

print(names)

['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree']

##### Indexing a List

In [44]:
#list slicing
#[start:stop:step]  -->[-1] last item on the list
#our_list[2]
names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree",]

#single index
print(names[2])

#print starting at index 1 and going to the end of the list
print(names[1:])
new_list = names[1:]
print(new_list)
# print starting at the beginning of the list and going up to the specified index 
print(names[:2])

#print starting at index 1 and stepping by 2
print(names[1::2])
copy_list = names[1::2]
print(copy_list)

#reversing a list (starting at the back and printing every item foing to the front)
print(names[::-1])  

#our_list[-1] <--- always be the last item in a list

Chuck
['Lyle', 'Chuck', 'Manja', 'Desiree']
['Lyle', 'Chuck', 'Manja', 'Desiree']
['Alex', 'Lyle']
['Lyle', 'Manja']
['Lyle', 'Manja']
['Desiree', 'Manja', 'Chuck', 'Lyle', 'Alex']

### List Methods

##### .append()

In [46]:
#append add to the back of a list
names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree",]

names.append('Ben')
print(names)

['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree', 'Ben']

In [47]:
print((names[:2:-1]))

['Ben', 'Desiree', 'Manja']

In [48]:
names.append('Fabian')
print(names)

['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree', 'Ben', 'Fabian']

In [49]:
print(names[:4:-1])

['Fabian', 'Ben']

In [53]:
numbers = [1,2,3,4,5,6]

numbers.append(12)
numbers.append(16)
numbers.append(18)

print(numbers)

[1, 2, 3, 4, 5, 6, 12, 16, 18]

In [ ]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

title_list = []
for name in names:
    names.append(name.strip().title())
    
print(title_list)

##### .insert()

In [60]:
#take in an element and and index
names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree",]namesname

AttributeError: 'str' object has no attribute 'insert'

In [68]:
new_data = [5,6,1,10,11,334,12,123]
new_date.insert(2,56)

print(new_data)

[5, 6, 1, 10, 11, 334, 12, 123]

In [67]:
print(len(new_data))
print(range(len(new_data)))

10
range(0, 10)

In [64]:
for i in range(len(new_data)):
    if i == 3:
        new_data.insert(i,names[i])
print(new_data)

[5, 6, 56, 'Manja', 1, 10, 11, 334, 12, 123]

##### .pop()

In [69]:
#pop will be default remove the last item in a list
#otherwise it takes an index and will pop out the value at that index from the list

names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree",]
bye_bye_name = names.pop(3)
print(bye_bye_name)

other_list=[]
other_list.append(names.pop())
print(other_list)

Manja
['Desiree']

In [70]:
print(names.pop())

Chuck

##### .remove()

In [92]:
# remove by specific value -> my_list.remove(element)
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bob', 'Bert', 'Bertha']


print(names)

['Bob', 'Bob', 'Billy', 'Berry', 'Bob', 'Bert', 'Bertha']

In [95]:
names.remove('Bob')
print(names)

['Billy', 'Berry', 'Bert', 'Bertha']

In [102]:
names = ['Bob', 'Billy','Bob', 'Bob', 'Berry', 'Bertha','Bob', 'Bert']
print(names)
while 'Bob' in names:
    names.remove('Bob')
    
print(names)

# for name in names:
#     if name == 'Bob':
#         names.remove('Bob')
# print(names)
#not going to work

['Bob', 'Billy', 'Bob', 'Bob', 'Berry', 'Bertha', 'Bob', 'Bert']
['Billy', 'Berry', 'Bertha', 'Bert']

In [99]:
names = ['Bob', 'Billy'' Bob', 'Bob', 'Berry', 'Bertha''Bob', 'Bert']

for i in range(len(names)):
    if names[i] == "Bob":
        names.remove(names[i])
print(names)

IndexError: list index out of range

### Working With Lists

##### del()

In [104]:
#index to be removed, not value
# this can cause indexing errors

names = ['Bob', 'Billy',' Bob', 'Bob', 'Berry', 'Bertha', 'Bob', 'Bert']
del(names[0])
print(names)

['Billy', ' Bob', 'Bob', 'Berry', 'Bertha', 'Bob', 'Bert']

##### min()

In [110]:
#returns the smallest items in a list
numbers = [1,2,3,4,56]
print(min(numbers))

names = ['Alfonso', 'Gilbert', 'Zorph', 'aname']
print(min(names))

1
Alfonso

##### max()

In [111]:
#returns the largest items in a list
numbers = [23,45,63,12,43,1000001]
print(max(numbers))

names = ['Alfonso', 'Gilbert', 'Zorph', 'aname']
print(max(names))

1000001
aname

##### sum()

In [112]:
#returns the sum of all number in a list

numbers = [1,2,3,4,56]
print(sum(numbers))

66

##### sorted()

In [113]:
numbers = [5,1,17,12,9,6,20,3]

sorted_nums = sorted(numbers)
print(sorted_nums)

[1, 3, 5, 6, 9, 12, 17, 20]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [115]:
numbers.sort()
print(numbers)

[1, 3, 5, 6, 9, 12, 17, 20]

##### Copying a List

In [72]:
#[:] copy a lsit , doesn't salter the original list
numbers = [3,6,1,5,10,-12]
new_list = numbers[:]
print(new_list)

[3, 6, 1, 5, 10, -12]
[3, 6, 1, 5, 10, -12]

##### Looping Through Lists

In [133]:
#Looping by value
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]
for name in names:
    print(name)
print("\n")
for name in names:
    if name == "Han Solo":
        print(name)

    
    #Looping by index
for i in range(len(names)):
    print(names[i])
    
print("\n")

for i in range(len(names)):
    if names[i] == "Leia Organa":
        print(names[i])
print("\n")
        
        #enumerate
for i,v in enumerate(names):
    print(i,v)
print("\n")

for i,v in enumerate(names):
    if v== "Mace Windu":
        print(i)

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo
Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Leia Organa


0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu


4

In [126]:
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]

# for name in names:
#     for letter in name:
#         print(letter)

##### 'in' keyword

In [129]:
#specifiying list that we are iterating through
names = ["Alex", "Abdel", "Swan", "Ethan", "Hyun-Tae"]
if "Ethan" in names:
    print("Ranger")
else:
    print("not a ranger")

Ranger
Great job being a ranger Frederick

nope
nope
Tenzin
nope
nope
nope

IndentationError: expected an indented block (2703666223.py, line 3)

##### 'not in' keyword

In [130]:
names = ["Alex", "Abdel", "Swan", "Ethan", "Hyun-Tae"]
if "Frederick" not in names:
    print("boo not a ranger")
else:
    print("Great job being a ranger Frederick")

boo not a ranger

##### Checking an Empty List

In [131]:
our_list = []

if our_list == []:
    print("welp thats empty")
else:
    print("there is stuff in there")

welp thats empty

##### Removing Instances with a Loop

In [132]:
names = ["Alex", "Abdel", "Swan", "Ethan", "Hyun-Tae"]
# recommended 
while "Alex" in names:
    names.remove('Alex')
print(names)

['Abdel', 'Swan', 'Ethan', 'Hyun-Tae']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [144]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
#hint 1: you might need an append
#hint 2: you might need an empty list
#hing 3 you are actully removing

new_list = []
for i in range(len(names)):
    if names[i]not in new_list:
        new_list.append(names[i])
print(new_list)
        
my_dup = []
i = 0

while i < len(names):
    if names[i] not in my_dup:
        my_dup.append(names[i])
        i += 1
    else: 
        names.remove(names[i])
print(names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']
['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

tucker sam deliah connor bob evan max 2 3 4 kevin

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [143]:
nums = [2,4,6,8,10]
nums_squared = []

#for loop way
for num in nums:
    nums_squared.append(num**2)
print(nums_squared)

# list comprehension way
num_squared = [num**2 for num in nums]
print(num_squared)

#list comprehension with conditional 
more_squared = [num**2 for num in nums if num%2 ==0]
print(more_squared)

[4, 16, 36, 64, 100]
[4, 16, 36, 64, 100]
[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [148]:
pets=['elliot', 'eyo', 'henri', 'lucy', 'eyeball', 'astro', 'jimmy','pi','penny']
letter_names = [name[0] for name in pets if name[0]!='e']

print(letter_names)

['h', 'l', 'a', 'j', 'p', 'p']

['sam', 'sean']
['sam', 'sean']

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

[0, 1, 4, 3, 16, 125, 36, 7, 64, 9]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [156]:
#declaring tuples
tup_1 = (1,2,3)
tup_2 = 4,5,6

print(tup_1)
print(tup_2)

print(type(tup_1))

#indexing in to a tuple
print(tup_1[0])
print(tup_2[1])

#length of a tuple
print("tuple legth", len(tup_2))

#iterating through a tuple
for num in tup_1:
    print(num)
    
for i in range(len(tup_2)):
    print(tup_2[i])

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
1
5
tuple legth 3
1
2
3
4
5
6

##### sorted()

In [158]:
tup = (20, 5, 1, 10, 95, 123)

print(sorted(tup))
print(tuple(sorted(tup)))

some_list = [5, 12, 654, 234, 65, 12]

#doesnot work: combine_list = some_list + tup

new_tup = tuple(some_list)

new_new_tup = new_tup + tup
print(new_new_tup)

[1, 5, 10, 20, 95, 123]
(1, 5, 10, 20, 95, 123)
(5, 12, 654, 234, 7643, 34, 20, 5, 1, 10, 95, 123)

In [149]:
# List Concatenation

my_list = [1, 2, 3, 4, 5]
my_list2 = [2, 3, 4, 5, 13, 12, 16, 1234]

my_list3 = my_list + my_list2

print(my_list3)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 13, 12, 16, 1234]

##### Adding values to a Tuple

In [157]:
tup = (20,54,60,23,11)
print(tup)

my_tup = tuple()
print(my_tup)
#help(tuple)

tup = tup + (6,)

print(tup)

(20, 54, 60, 23, 11)
()
(20, 54, 60, 23, 11, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [2]:
alist = [1,11,14,5,8,9]

filtered_version = [num for num in alist if num < 10]
print(filtered_version)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [18]:

l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

merge_list = []
merge_list = l_1 + l_2
merge_list.sort()
print(merge_list)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [29]:
for num in range(1,16):
    squared_num = pow(num,2)
    print(squared_num)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [62]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

strip_space = [name.lstrip().rstrip().title() for name in names_list]
remove_empty = [name for name in strip_space if bool(name)== True]
filter_a = [name for name in remove_empty if name[0]=='A']
print(filter_a)

['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [19]:
for num in range(1,101):
     
    if num == 1:
        continue
    elif num % 2 == 0 and  num/2 > 1:
        continue
    elif num% 3 == 0 and num/3 > 1:
        continue
    elif num% 5 == 0 and num/5 > 1:
        continue
    elif num**.5 - int(num**.5)==0:
        continue
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
77
79
83
89
91
97

In [93]:

def even_num(arr):
    new_list = []
    for num in arr:
        if num%2 == 0:
            new_list.append(num)
    return new_list
        
print(even_num([2,7,10,11,12]))

[2, 10, 12]